<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="The design system sponsored by Cisco Brand">
	<meta name="image" content="http://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
	<meta itemprop="name" content="Cisco UI Kit">
	<meta itemprop="description" content="The design system sponsored by Cisco Brand">
	<meta itemprop="image" content="http://cisco-ui.cisco.com">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Cisco UI Kit">
	<meta name="twitter:description" content="The design system sponsored by Cisco Brand">
	<meta property="og:title" content="Cisco UI Kit">
	<meta property="og:description" content="The design system sponsored by Cisco Brand">
	<meta property="og:image" content="https://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
	<meta property="og:url" content="http://cisco-ui.cisco.com">
	<meta property="og:site_name" content="Cisco UI Kit">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="196x196">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="96x96">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="128x128">
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
	<meta name="application-name" content="Cisco UI Kit">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="img/mstile.png">
	<meta name="msapplication-square70x70logo" content="img/mstile.png">
	<meta name="msapplication-square150x150logo" content="img/mstile.png">
	<meta name="msapplication-wide310x150logo" content="img/mstile.png">
	<meta name="msapplication-square310x310logo" content="img/mstile.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>PCAP AGGREGATOR</title>

	<link rel="stylesheet" type="text/css" href="static/css/cui-standard.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
	<script src="../public/js/styleguide.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var checkboxes = document.getElementsByClassName("checkbox");
			var select_all = document.getElementById("checked");
			$(select_all).change({ checkboxes: checkboxes }, function (event) {
				checkboxes = event.data.checkboxes;
				for (var i = 1; i < checkboxes.length; i++) {
					$(checkboxes[i]).prop('checked', this.checked);
				}
			});

			function get_data() {
				$('.ajaxProgress').show();
				$.ajax({
					type: "GET",
					url: "/get_data",
					dataType: "json",
					async: true,
					success: function (data) {
						$.each(data, function (rowid, row) {
							if ($('#' + row.slug + '_status')[0].innerHTML !== row.status)
								$('#' + row.slug + '_status')[0].innerHTML = row.status;
							if (row.status === 'Not Connected' || row.status === 'Get PCAP : successful' || row.status === 'Get PCAP : 30 secs timeout' || row.status === 'Connection failed!') {
								$('#' + row.slug).hide();
							}
							else {
								$('#' + row.slug).show();
							}
						});
					},
					failure: function () {
						$('#' + row.slug).hide();
						console.log('Ajax call failed');
					}
				});
			}
			setTimeout(get_data, 2500);
			setTimeout(get_data, 5000);
			setInterval(get_data, 15000);
		});

		function openNav() {
			document.getElementById("mySidebar").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidebar").style.width = "0";
		}

		function checking() {
			console.log("Inside the function");
			if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(document.getElementById("hostname").value)) {
				console.log("true");
				return true;
			}
			else {
				window.alert("Please enter a valid IP address");
				return false;
			}
		};
	</script>
	<style>
		body {
			font-family: "Lato", sans-serif;
		}

		.sidebar {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		}

		.sidebar a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 17px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}

		.sidebar a:hover {
			color: #f1f1f1;
		}

		.sidebar .closebtn {
			position: relative;
			top: 0;
			left: 20px;
			font-size: 36px;
			margin-left: 40px;
		}

		.openbtn {
			font-size: 18px;
			cursor: pointer;
			padding: 8px 8px;
			border: none;
		}

		#main {
			transition: margin-left .5s;
			padding: 10px;
			margin-left: 0px;
		}

		@media screen and (max-height: 450px) {
			.sidebar {
				padding-top: 15px;
			}
		}
	</style>
</head>

<body class="cui">
	<nav class="header" id="styleguideheader" role="navigation">
		<div class="container-fluid">
			<div class="header-panels">
				<div class="header-panel hidden-md-down">
					<h1 class="header__title">
						<div class="openbtn" onclick="return openNav()">☰ PCAP AGGREGATOR</div>
					</h1>
				</div>
				<div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
					<a class="header__logo" href="/">
						<span class="icon-cisco"></span>
					</a>
				</div>
				<div class="header-panel header-panel--right hidden-md-down">
					<a href="/" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
					<div id="themeSwitcher" class="dropdown dropdown--left dropdown--offset-qtr header-item">
						<a class="header-toolbar__link">LOGIN</a>
						<div class="dropdown__menu">
							<a id="theme-default" class="selected">Default</a>
							<a id="theme-dark">Dark</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="content content--alt">
		<div class="container-fluid">
			<div class="row">
				<div id="mySidebar" class="sidebar">
					<div>
						<br>
						<br>
						<br>
					</div>
					<div class="text-bold">
						<div style="float: right;">
							<button onclick="return closeNav()">x</button>
						</div>
						<center>VAIO</center>
					</div>
					<div>
						<center>PCAP AGGREGATOR</center>
					</div>
					<nav>
						<ul id="rootSidebar">
							<li class="sidebar__item selected">

								<a href="/" tabindex="0" title="Assets">
									<span class="icon-tools"></span>
									<span>Pcap</span>
								</a>
							</li>
							<li class="sidebar__item selected">
								<a tabindex="0" title="Alerts">
									<span>
										<span class="badge-wrapper">
											<span class="icon-alert"></span>
											<span class="badge badge--danger badge--tiny">3</span>
										</span>
									</span>
									<span>Alerts</span>
								</a>
							</li>
							<li class="sidebar__item selected">
								<a tabindex="0" title="Configurations">
									<span class="icon-configurations"></span>
									<span>Config</span>
								</a>
							</li>
							<li class="sidebar__item selected">
								<a tabindex="0" title="Reports">
									<span class="icon-graph"></span>
									<span>Reports</span>
								</a>
							</li>
							<li class="sidebar__item selected">
								<a tabindex="0" title="Tools">
									<span class="icon-tools"></span>
									<span>Tools</span>
								</a>
							</li>
							<li class="sidebar__item selcted">
								<a tabindex="0" title="Validate">
									<span class="icon-analysis"></span>
									<span>Validate</span>
								</a>
							</li>
						</ul>
					</nav>

				</div>
				<nav class="col-lg-2 col-xl-2 sidebar hidden-md-down dbl-margin-top" role="navigation">
					<div class="base-margin">

						<div class="text-bold">
							<center>VAIO</center>
						</div>
						<div>
							<center>PCAP AGGREGATOR</center>
						</div>
					</div>

				</nav>
				<div class="col-30 col-lg-12 col-xl-10">
					<div class="section">
						<div class="row">
							<div class="col-xl-8">
								<form class="form" role="form" method="POST">
									<div class="panel panel--loose panel--raised base-margin-bottom">
										<div class="content">
											<div class="container-fluid">
												<div class="section">
													<div class="flex-center-vertical">
														<h1>PCAP</h1>
													</div>
												</div>
												<div>
													{% with messages = get_flashed_messages() %}
													{% if messages %}
													<ul>
														{% for message in messages %}
														<li>{{ message }}</li>
														{% endfor %}
													</ul>
													{% endif %}
													{% endwith %}
											</div>
												<div class="section">
													<div class="responsive-table">
														<table id="tableId"
															class="table table--lined table--selectable">
															<tr>
																<th>
																	<input type="checkbox" class="checkbox" id="checked"
																		name="checked">
																</th>
																<th class="sortable">HOST
																	<span class="sort-indicator icon-dropdown"></span>
																<th class="sortable">USERNAME
																	<span class="sort-indicator icon-dropdown"></span>
																</th>
																<th class="contentEditable">ARGUMENTS</th>
																<th class="hidden-lg-down">STATUS</th>
															</tr>
															{% for rowid, row in data.items() %}
															<tr>
																<td>
																	<input type="checkbox" class="checkbox"
																		id="{{ row.slug }}-checked"
																		name="{{ row.slug }}-checked">
																</td>
																<td>{{ row.hostname }}</td>
																<td>{{ row.username }}</td>
																<td>{{ row.arguments }}</td>
																<td>
																	<div id="{{ row.slug }}_status">
																		{{ row.status }}
																	</div>
																	<div id="{{ row.slug }}" style="display: block;">
																		<i class="fa fa-spinner fa-spin"></i>
																	</div>
																</td>
															</tr>
															{% endfor %}
															{% if data|length != 0 %}
															<tr>
																<td></td>
																<td>
																	<button type="submit" name="action" value="submit"
																		class="btn btn--primary">Submit</button>
																</td>
																<td></td>
																<td></td>
																<td>
																	<button type="submit" name="action" value="delete"
																		class="btn btn--dark">Delete</button>
																</td>
															</tr>
															{% else %}
															<tr>
																<td></td>
																<td></td>
																<td colspan="3">
																	<h3>Please add servers</h3>
																</td>
															</tr>
															{% endif %}
														</table>
													</div>
												</div>
											</div>
										</div>
								</form>
							</div>
						</div>
						<div class="col-xl-4">
							<div class="panel panel--loose panel--raised">
								<h2 class="subtitle">DETAILS</h2>
								<hr>
								<form class="form" role="form" method="POST" onsubmit="return checking();">
									<div class="col-md">
										<div class="form-group base-margin-bottom">
											<div class="form-group__text">
												<div class="form-group  required"><label class="control-label"
														for="hostname">HOSTNAME</label>
													<input class="form-control" id="hostname" name="hostname"
														required="true" type="text-bold" value="">
												</div>
												<div class="form-group  required"><label class="control-label"
														for="username">USERNAME</label>
													<input class="form-control" id="username" name="username"
														required="true" type="text" value="">
												</div>
												<div class="form-group  required"><label class="control-label"
														for="password">PASSWORD</label>
													<input class="form-control" id="password" name="password"
														required="true" type="password" value="">
												</div>
												<div class="form-group dropdown">
													<div class="form-group__text select">
														<label class="control-label" for="arguments">ARGUMENTS</label>
														<select class="form-control" id="arguments" name="arguments">
															<option selected value="">Select an Option</option>
															<option value="httpv2">httpv2</option>
															<option value="icmp">ICMP</option>
															<option value="ssh">SSH</option>
															<option value="tcp">TCP</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<button type="submit" name="action" value="add"
										class="btn btn--success">Add</button>
									<br><br>
								</form>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="footer__links">
				<ul class="list list--inline">
					<li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html">Contacts</a></li>
					<li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ">Feedback</a></li>
					<li><a href="https://www.cisco.com/c/en/us/about/help.html">Help</a></li>
					<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html">Site Map</a></li>
					<li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html">Terms &
							Conditions</a></li>
					</li>
					<li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html">Privacy Statement</a>
					</li>
					<li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies">Cookie
							Policy</a></li>
					<li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html">Trademarks</a></li>
				</ul>
			</div>
		</footer>
</body>

</html>