<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="The design system sponsored by Cisco Brand">
	<meta name="image" content="http://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
	<meta itemprop="name" content="Cisco UI Kit">
	<meta itemprop="description" content="The design system sponsored by Cisco Brand">
	<meta itemprop="image" content="http://cisco-ui.cisco.com">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Cisco UI Kit">
	<meta name="twitter:description" content="The design system sponsored by Cisco Brand">
	<meta property="og:title" content="Cisco UI Kit">
	<meta property="og:description" content="The design system sponsored by Cisco Brand">
	<meta property="og:image" content="https://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
	<meta property="og:url" content="http://cisco-ui.cisco.com">
	<meta property="og:site_name" content="Cisco UI Kit">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="196x196">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="96x96">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/favicon.png" sizes="128x128">
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
	<meta name="application-name" content="Cisco UI Kit">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="img/mstile.png">
	<meta name="msapplication-square70x70logo" content="img/mstile.png">
	<meta name="msapplication-square150x150logo" content="img/mstile.png">
	<meta name="msapplication-wide310x150logo" content="img/mstile.png">
	<meta name="msapplication-square310x310logo" content="img/mstile.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>PCAP AGGREGATOR</title>

	<link rel="stylesheet" type="text/css" href="cui-2.0.1/css/cui-standard.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cui-2.0.1/css/cui-standard.min.css')}}">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="cui-standard.min.css">
	<script type="text/javascript">
		$(document).ready(function () {
			var checkboxes = document.getElementsByClassName("checkbox");
			var select_all = document.getElementById("checked");
			$(select_all).change({
				checkboxes: checkboxes
			}, function (event) {
				checkboxes = event.data.checkboxes;
				for (var i = 1; i < checkboxes.length; i++) {
					$(checkboxes[i]).prop('checked', this.checked);
				}
			});

			function get_data() {
				$('.ajaxProgress').show();
				$.ajax({
					type: "GET",
					url: "/get_data",
					dataType: "json",
					async: true,
					success: function (data) {
						$.each(data, function (rowid, row) {
							if ($('#' + row.slug + '_status')[0].innerHTML !== row.status)
								$('#' + row.slug + '_status')[0].innerHTML = row.status;
							if (row.status === 'Get PCAP : successful') {
								$('#' + row.slug + '_download').show();
							}
							if (row.status === 'Not Connected' || row.status === 'Get PCAP : successful' || row.status === 'Get PCAP : 30 secs timeout' || row.status === 'Connection failed!') {
								$('#' + row.slug).hide();
							} else {
								$('#' + row.slug).show();
							}
						});
					},
					failure: function () {
						$('#' + row.slug).hide();
						console.log('Ajax call failed');
					}
				});
			}
			setTimeout(get_data, 2500);
			setTimeout(get_data, 5000);
			setInterval(get_data, 15000);
		});

		function openNav() {
			document.getElementById("mySidebar").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidebar").style.width = "0";
		}

		function checking() {
			console.log("Inside the function");
			if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(document.getElementById("hostname").value)) {
				console.log("true");
				return true;
			} else {
				window.alert("Please enter a valid IP address");
				return false;
			}
		};
	</script>
	<link rel="stylesheet" type="text/css" href="cui-2.0.1/css/sidebar.css">

</head>

<body class="cui">
	<nav class="header" id="styleguideheader" role="navigation">
		<div class="container-fluid">
			<div class="header-panels">
				<div class="header-panel hidden-md-down">
					<a class="header__logo" href="http://www.cisco.com" target="_blank">
						<span class="icon-cisco"></span>
					</a>
					<h1 class="header__title">
						<div class="openbtn" onclick="return openNav()">☰ PCAPs AGGREGATOR</div>
					</h1>
				</div>
				<div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
					<a class="header__logo" href="http://www.cisco.com" target="_blank">
						<span class="icon-cisco"></span>
					</a>
				</div>
				<div class="header-panel header-panel--right hidden-md-down">
					<a href="/" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
					<div id="themeSwitcher" class="dropdown dropdown--left dropdown--offset-qtr header-item">
						<a class="header-toolbar__link">LOGIN</a>
						<div class="dropdown__menu">
							<a id="theme-default" class="selected">Default</a>
							<a id="theme-dark">Dark</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="content content--alt">
		<div class="container-fluid">
			<div class="row">
				<div id="mySidebar" class="sidebar">
					<div>
						<br>
						<br>
						<br>
					</div>
					<div class="text-bold">
						<div style="float: right;">
							<button onclick="return closeNav()">x</button>
						</div>
						<center>VAIO</center>
					</div>
					<div>
						<center>PCAPs AGGREGATOR</center>
					</div>
					<nav>
						<p>Hello</p>
						<ul id="rootSidebar">
							<li class="sidebar__item selected">

								<a href="/" tabindex="0" title="Assets">
									<span class="icon-tools"></span>
									<span>Pcap</span>
								</a>
							</li>
							< <li class="sidebar__item selected">
								<a tabindex="0" title="Configurations">
									<span class="icon-configurations"></span>
									<span>Filtering</span>
								</a>
								</li>
								<li class="sidebar__item selcted">
									<a tabindex="0" title="Validate">
										<span class="icon-analysis"></span>
										<span>Ladder Diagram</span>
									</a>
								</li>
						</ul>
					</nav>

				</div>
				<nav class="col-lg-2 col-xl-2 sidebar hidden-md-down dbl-margin-top" role="navigation">
					<div class="base-margin">

						<div class="text-bold">
							<center>VAIO</center>
						</div>
						<div>
							<center>PCAP AGGREGATOR</center>
						</div>
					</div>

				</nav>
				<div class="col-30 col-lg-12 col-xl-10">
					<div class="section">

						<div class="row">
							<div class="col-xl-12">
								<div class="panel panel--loose panel--raised base-margin-bottom"
									Style="top-padding:250px">
									<div class="content">
										<div class="container-fluid">
											<div class="flex flex-center" style="position: relative; top: 60px;">
												<div class="panel panel--raised panel--loose base-margin-right;">
													<div class="flex justify-content-center">
														<h5>Call Flow Ladder Diagram</h5>
													</div>

													<div class="form-group base-margin-bottom">
														<div class="form-group__text  required">

															<form class="form" role="form" method="post" action=""
																id="upload_form" enctype="multipart/form-data"
																method="post">

																<INPUT TYPE="hidden" NAME="User_Input"
																	onclick="Submit()">
																<div class="form-group  required"><label
																		class="control-label"
																		for="expected_csv_file">CSV Log File(.csv):
																	</label>

																	<script type="text/javascript"
																		language="javascript">
																			function checkfile(sender) {
																				var validExts = new Array(".xlsx", ".xls", ".csv");
																				var fileExt = sender.value;
																				fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
																				if (validExts.indexOf(fileExt) < 0) {
																					alert("Invalid file selected, valid files are of " +
																						validExts.toString() + " types.");
																					document.getElementById('file').value = '';
																					return false;
																				} else return true;

																				function submit() {
																					var filename = document
																				}
																			}
																		</script>

																	<!--	<script src="csv_xml.js" type="text/javascript"></script>-->
																	<input type="file" name='fileupload' id="data_file"
																		accept=".csv" onchange="checkfile(this);" />
																	<!-- <input type="file" ID="fileSelect" accept=".csv"/>-->
																</div>

																<br>
																<div class="flex justify-content-center">
																	<button onclick="submit()" id="submit" type="submit"
																		class="btn btn--primary">Submit</button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="footer__links">
					<ul class="list list--inline">
						<li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html">Contacts</a></li>
						<li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ">Feedback</a></li>
						<li><a href="https://www.cisco.com/c/en/us/about/help.html">Help</a></li>
						<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html">Site Map</a></li>
						<li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html">Terms &
								Conditions</a></li>
						</li>
						<li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html">Privacy Statement</a>
						</li>
						<li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies">Cookie
								Policy</a></li>
						<li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html">Trademarks</a></li>
					</ul>
				</div>
			</footer>
</body>

</html>