<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="The design system sponsored by Cisco Brand">
	<meta name="image" content="http://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
	<meta itemprop="name" content="Cisco UI Kit">
	<meta itemprop="description" content="The design system sponsored by Cisco Brand">
	<meta itemprop="image" content="http://cisco-ui.cisco.com">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Cisco UI Kit">
	<meta name="twitter:description" content="The design system sponsored by Cisco Brand">
	<meta property="og:title" content="Cisco UI Kit">
	<meta property="og:description" content="The design system sponsored by Cisco Brand">
	<meta property="og:image" content="https://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
	<meta property="og:url" content="http://cisco-ui.cisco.com">
	<meta property="og:site_name" content="Cisco UI Kit">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta name="application-name" content="Cisco UI Kit">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="img/mstile.png">
	<meta name="msapplication-square70x70logo" content="img/mstile.png">
	<meta name="msapplication-square150x150logo" content="img/mstile.png">
	<meta name="msapplication-wide310x150logo" content="img/mstile.png">
	<meta name="msapplication-square310x310logo" content="img/mstile.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>PCAP</title>
	<!--<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cui-2.0.1/css/cui-standard.min.css')}}"> -->
	<link rel="stylesheet" type="text/css" href="static/css/cui-standard.min.css">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"
		integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

</head>

<body class="cui">
	<nav class="header" id="styleguideheader" role="navigation">
		<div class="container-fluid">
			<div class="header-panels">
				<div class="header-panel hidden-md-down">
					<a class="header__logo" href="http://www.cisco.com" target="_blank">
						<span class="icon-cisco"></span>
					</a>
					<h1 class="header__title">
						<span>PCAP</span>
					</h1>
				</div>
				<div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
					<a class="header__logo" href="http://www.cisco.com" target="_blank">
						<span class="icon-cisco"></span>
					</a>
				</div>
				<div class="header-panel header-panel--right hidden-md-down">
					<a href="../index.html" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
					<div id="themeSwitcher" class="dropdown dropdown--left dropdown--offset-qtr header-item">
						<a class="header-toolbar__link">LOGIN</a>
						<div class="dropdown__menu">
							<a id="theme-default" class="selected">Default</a>
							<a id="theme-dark">Dark</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="content content--alt">
		<div class="container-fluid">
			<div class="row">

				<!-- Sidebar -->
				<nav class="col-lg-2 col-xl-2 sidebar hidden-md-down dbl-margin-top" role="navigation">
					<div class="base-margin">
						<!--<img class="image-size-64" src="../public/img/user-photo-thumb-3.png">-->
						<div class="text-bold">
							<center>VAIO</center>
						</div>
						<div>
							<center>PCAP AGGREGATOR</center>
						</div>
					</div>
					<ul id="rootSidebar">
						<li class="sidebar__item selected">
							<a tabindex="0" title="Assets">
								<span class="icon-tools"></span>
								<span>Pcap</span>
							</a>
						</li>
						<li class="sidebar__item selected">
							<a tabindex="0" title="Assets">
								<span class="icon-tools"></span>
								<span>Alerts</span>
							</a>
						</li>
						<li class="sidebar__item selected">
							<a tabindex="0" title="Configurations">
								<span class="icon-configurations"></span>
								<span>Config</span>
							</a>
						</li>
						<li class="sidebar__item selected">
							<a tabindex="0" title="Reports">
								<span class="icon-graph"></span>
								<span>Reports</span>
							</a>
						</li>
						<li class="sidebar__item selected">
							<a tabindex="0" title="Tools">
								<span class="icon-tools"></span>
								<span>Tools</span>
							</a>
						</li>
						<li class="sidebar__item selcted">
							<a tabindex="0" title="Validate">
								<span class="icon-analysis"></span>
								<span>Validate</span>
							</a>
						</li>
						</li>
						<li class="sidebar__item selected">
							<a tabindex="0" title="Configurations">
								<span class="icon-configurations"></span>
								<span>Nitesh</span>
							</a>
						</li>
						</li>
					</ul>
				</nav>


				<div class="col-30 col-lg-12 col-xl-10">
					<div class="section">
						<div class="row">
							<div class="col-xl-12">
								<div class="panel panel--loose panel--raised base-margin-bottom"
									Style="top-padding:250px">
									<div class="content">
										<div class="container-fluid">
											<div class="flex flex-center" style="position: relative; top: 60px;">
												<div class="panel panel--raised panel--loose base-margin-right;">
													<div class="flex justify-content-center">
														<h5>Heading 2</h5>
													</div>

													<div class="form-group base-margin-bottom">
														<div class="form-group__text  required">

															<form class="form" role="form" method="post" action=""
																id="upload_form" enctype="multipart/form-data"
																method="post">

																<INPUT TYPE="hidden" NAME="User_Input"
																	onclick="Submit()">
																<div class="form-group  required"><label
																		class="control-label"
																		for="expected_csv_file">CSV Log File(.csv):
																	</label>

																	<script type="text/javascript"
																		language="javascript">
																			function checkfile(sender) {
																				var validExts = new Array(".xlsx", ".xls", ".csv");
																				var fileExt = sender.value;
																				fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
																				if (validExts.indexOf(fileExt) < 0) {
																					alert("Invalid file selected, valid files are of " +
																						validExts.toString() + " types.");
																					document.getElementById('file').value = '';
																					return false;
																				} else return true;

																				function submit() {
																					var filename = document
																				}
																			}
																		</script>

																	<!--	<script src="csv_xml.js" type="text/javascript"></script>-->
																	<input type="file" name='fileupload' id="data_file"
																		accept=".csv" onchange="checkfile(this);" />
																	<!-- <input type="file" ID="fileSelect" accept=".csv"/>-->
																</div>

																<br>
																<div class="flex justify-content-center">
																	<button onclick="submit()" id="submit" type="submit"
																		class="btn btn--primary">Submit</button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="footer__links">
			<ul class="list list--inline">
				<li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a>
				</li>
				<li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
				<li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
				<li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
				<li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms &
						Conditions</a></li>
				</li>
				<li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy
						Statement</a></li>
				<li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie
						Policy</a></li>
				<li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a>
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>